<!DOCTYPE html>
<html lang = 'en'>
<head>
		<title>Univeristy of New Paltz, NY</title>
		<link rel="stylesheet" type="text/css" href="">
		<meta>

</head>
<body>
	<h1>Current Weather Conditions at University of New Paltz, NY </h1>

		
</body>
	
</html>